## Ejercicios

1) Levantar la base de Titanic.  
2) Creo un nuevo dataset en donde pueda obtener la cantidad de pasajeros que subieron por cada uno de los puertos de embarcación.   
3) Realizo un Join entre el DataFrame original (Titanic) y el DataFrame creado en el punto 2. ¿Qué método es más conveniente utilizar?   
4) ¿Cuántos pasajeros hay cuya edad sea mayor o igual a 15 años? ¿Y bebés menores a 1 año?   
5) ¿Cuántos pasajeros menores de 5 años de género masculino se Salvaron? (Recordando que 1 en el campo Survived significa que se salvaron)

### Ejercicio 1 ###

In [2]:
import pandas as pd
import os
from google.colab import drive

In [3]:
#Levanto drive para poder almacenar los archivos
drive.mount("/content/drive")
contentFolder = "/content/drive/MyDrive/Austral - Data Mining"
if not os.path.exists(contentFolder):
    os.mkdir(contentFolder)

Mounted at /content/drive

In [4]:
#data = pd.read_csv("./Data/titanic_train.txt")
data = pd.read_csv("{}/titanic_train.txt".format(contentFolder))

### Ejercicio 2 ###

In [6]:
dataEmbarked = data.groupby("Embarked").size().to_frame("qPasajeros")

### Ejercicio 3 ###
Vamos a utilizar el metodo merge

In [7]:
dataEmbarked = dataEmbarked.reset_index()
data = pd.merge(data, dataEmbarked, how="inner", on="Embarked")
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,qPasajeros
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,644
1,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,644
2,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,644
3,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,644
4,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,644

### Ejercicio 4 ###

In [9]:
#Pasajeros con 15 anios o mas
len(data[data.Age >= 15])

634

In [11]:
#Pasajeros con menos de 1 anio
len(data[data.Age < 1])

7

In [13]:
#Pasajeros con menos de 5 anios, genero masculino y que hayan sobrevivido
len(data[(data.Age < 5)& (data.Sex == "male") & (data.Survived == 1)])

15